#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.back{
  max-width: 80%;
  background-color: blue;
  margin: 40px;
}
.card{
  border-radius: 5%;
  margin:40px;
  max-width: 80%;
}
h4{
  font-size: 10px;
}
h6{
  font-size: 11px;
  text-align: justify;
  
}
.btn{
  margin-top: 5px;
  border-radius: 20px;  
}
.fa-xmark{
  color:rgba(0, 0, 0, 0.5);
}
.txt{
  color: rgba(0, 0, 0, 0.5);
}



